<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form method="POST" action="/team">
    <p>
      <label for="name">
        Team Name: <input name="name" type="text" value=""/>
      </label>
    </p>
    <p>
      <label for="coach">
        Coach: <input name="coach" type="text" value=""/>
      </label>
    </p>
    <p>
      <label for="pg">
        Point Guard: <input name="pg" type="text" value=""/>
      </label>
    </p>
    <p>
      <label for="sg">
        Shooting Guard: <input name="sg" type="text" value=""/>
      </label>
    </p>
    <p>
      <label for="pf">
        Small Forward: <input name="pf" type="text" value=""/>
      </label>
    </p>
    <p>
      <label for="sf">
        Power Forward: <input name="sf" type="text" value=""/>
      </label>
    </p>
    <p>
      <label for="c">
        Center: <input name="c" type="text" value=""/>
      </label>
    </p>
    <input id="Submit" type="submit"/>
  </form>
 </head>
 <body>
 </body>
</html>
